<?xml version="1.0"?>
<!DOCTYPE Settings[
<!ELEMENT Settings (Option*, Timetable*, ColorGroup*, EventGroup*, AlarmGroup*)>
  <!ELEMENT Option (#PCDATA)>
  <!ELEMENT Timetable (#PCDATA)>  
  <!ELEMENT ColorGroup (#PCDATA)> 
  <!ELEMENT EventGroup (#PCDATA)> 
  <!ELEMENT AlarmGroup (#PCDATA)>  
  <!ATTLIST Option id ID #REQUIRED>
  <!ATTLIST Timetable id ID #REQUIRED>
  <!ATTLIST ColorGroup id ID #REQUIRED>
  <!ATTLIST ColorGroup name CDATA #REQUIRED>
  <!ATTLIST EventGroup id ID #REQUIRED>
  <!ATTLIST EventGroup name CDATA #REQUIRED>
  <!ATTLIST AlarmGroup id ID #REQUIRED>
  <!ATTLIST AlarmGroup name CDATA #REQUIRED>
]>
<Settings>
  <Option id="FullScreen">0</Option>
  <Option id="Language">1</Option>
  <Option id="LastIdReset">6.2.2018</Option>
  <Option id="LastBackUp">2</Option>
  <Option id="OldDataThreshold">2</Option>
  <Option id="DataPath">C:/Users/Stavros Mobile/Documents/GitHub/Calendar/Assets/Calendar Data</Option>
  <Option id="ExportPath">C:\Users\Stavros Mobile\Desktop</Option>
  <Option id="ImportPath">
  </Option>
  <Option id="TicketPrice">3</Option>
  <Option id="ReducedTicketPrice">1.5</Option>
  <Option id="MinimumTourTime">40</Option>
  <Timetable id="Monday">0</Timetable>
  <Timetable id="Tuesday">09:00,10:30,12:00,13:30</Timetable>
  <Timetable id="Wednesday">09:00,10:30,12:00,13:30</Timetable>
  <Timetable id="Thursday">09:00,10:30,12:00,13:30</Timetable>
  <Timetable id="Friday">09:00,10:30,12:00,13:30</Timetable>
  <Timetable id="Saturday">10:30,12:00,13:30,15:00,16:30</Timetable>
  <Timetable id="Sunday">10:30,12:00,13:30,15:00,16:30</Timetable>
  <ColorGroup id="ColorGroup.1" name="Default">0.04985456,0.1246912,0.8804799</ColorGroup>
  <ColorGroup id="ColorGroup.2" name="Military">0.6886989,0.7747356,0.06048392</ColorGroup>
  <ColorGroup id="ColorGroup.3" name="Political">0.9414735,0.9795902,0.04585973</ColorGroup>
  <EventGroup id="EventGroup.18" name="Default">Date,Colour Group,Start Time,End Time, Name of Team, Number of People, Person in Charge, Telephone, Date of Confirmation, Guide, Notes</EventGroup>
  <AlarmGroup id="AlarmGroup.22" name="AlarmDefault">Date, Notes</AlarmGroup>
</Settings>